material/Lung_Segmentation
material/Houses-dataset
material/generated_images
material/khaiii
material/amazon_furniture_dataset.csv
material/fine_food_reviews_with_embeddings_1k.csv
material/Lung_Segmentation
material/Lung_Segmentation.zip
material/paper
.DS_Store